body{
    padding:0;
    margin:0;
}

.top-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #1F2937;

}

.header{
    display: flex;
    padding: 20px;
    font-weight: 24px;
    color: #F9FAF8;
    
}

.header-logo{
    font-weight: bolder;
    font-size: larger;
}

a{
    color: #F9FAF8;
    text-decoration: none;
}

.hero{
    display: flex;
}